:root {
  --cor0: #000;
  --cor1: #ffa500;
  --cor2: #eab821;
  --cor3: #ffd700;
  --cor4: #ab7c29;
  --cor5: #666;
  --fonte-header: "Contrail One", sans-serif;
  --fonte-cursiva: "Great Vibes", cursive;
}

* {
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  overflow-x: hidden; /* Impede rolagem lateral */
}

html {
  scroll-padding-top: 90px; /* Ajuste para a altura do seu menu */
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(--cor0, --cor1);
  color: var(--cor0);
}

@font-face {
  font-family: "Aloja";
  src: url("fonts/aloja-free-font/Aloja-Light.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/*-----------------------------------------MENU------------------------------------*/
header {
  font-family: var(--fonte-header);
  position: fixed;
  background-color: transparent;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000; /* header encima da imagem */
  width: 100%;
  min-height: 60px;
}

header img {
  margin-left: 2%;
  max-width: 150px;
  height: auto;
}

header.solid img {
  display: none;
}

header.transparent {
  background: transparent;
}

header.solid {
  background: black;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.342);
}

header .logo-texto-nav {
  display: none;
}

header.solid .logo-texto-nav {
  display: flex;
}

nav {
  margin-left: auto;
  margin-right: 3%;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  gap: 60px;
}

nav ul li {
  margin: 0 10px;
}

nav a {
  text-decoration: none;
  color: var(--cor3);
  font-weight: bold;
  font-size: 25px;
}

nav a:hover {
  color: var(--cor1);
  cursor: pointer;
}

nav ul li a.ativo {
  background-color: var(--cor1);
  color: white;
  padding: 8px 15px;
  border-radius: 20px;
  transition: background 0.3s ease, color 0.3s ease;
}

nav ul li a.ativo:hover {
  background-color: var(--cor3);
  color: white;
  padding: 8px 15px;
  border-radius: 20px;
  transition: background 0.3s ease, color 0.3s ease;
}

.menu-toggle {
  display: none;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  right: 7%;
  cursor: pointer;
  z-index: 1100;
}

/* Cada barrinha será um bloco individual, com largura e altura definidas */
/* Barrinhas brancas e levemente arredondadas */
/* Temos uma animação suave para alterações de cor, transformações e opacidade */
.menu-toggle span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: var(--cor3);
  border-radius: 2px;
  transition: background-color 0.6s, transform 0.6s, opacity 0.3s;

  box-shadow: 2px 2px 2px #0000002c;
}

/* ---- Transformar as barrinhas em "X" translate(x,y) ---- */
.menu-toggle.active span:nth-child(1) {
  transform: rotate(45deg) translate(6px, 5.5px); /* Ajuste fino para alinhamento */
}

/* Esconde a linha do meio */
.menu-toggle.active span:nth-child(2) {
  opacity: 0;
}

.menu-toggle.active span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -5.5px); /* Ajuste fino para alinhamento */
}
/* ---- ---- */

/* Muda a cor ao passar o mouse dependendo do estado (ativo/não ativo)*/
.menu-toggle:not(.active):hover span {
  background-color: var(--cor1);
}

.menu-toggle.active:hover span {
  background-color: #fff;
}

.menu-toggle.active span {
  background-color: white;
}

section {
  padding: 70px;
  text-align: center;
}

@media screen and (max-width: 1080px) {
  nav ul {
    gap: 30px;
  }
}

@media screen and (max-width: 900px) {
  nav ul {
    display: none; /* Esconde o menu por padrão */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.85);
    gap: 20px;
    z-index: 1000;
  }

  nav ul.active {
    display: flex; /* Mostra o menu ao ativar */
  }

  nav ul li a {
    font-size: 1.5rem; /* Ajuste do tamanho da fonte */
    transition: color 0.3s;
  }

  nav ul li a:hover {
    color: var(--cor0); /* Cor ao passar o mouse */
  }

  .menu-toggle {
    display: flex;
  }
}

/*-------------------------------------INICIO---------------------------------------*/
#inicio {
  display: flex;
  flex-direction: column;
  padding: 15px 2%;
  margin: 0;

  background-image: url("midia/fundo/header2-FULL.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  color: white;
  text-align: start;
  position: relative;
  z-index: 1;

  width: 100%;
  height: 100vh;
  min-height: 600px;
}

.conteudo {
  position: relative;
  width: max-content;
  max-width: 100vw;
}

.conteudo > h1 {
  margin-top: 0px;
}

.conteudo > h0 {
  padding-top: 220px;
}

#inicio h0 {
  display: block;
  padding-top: 200px;
  font-size: 11.25em;
  font-family: var(--fonte-cursiva);
  color: var(--cor2);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
#inicio > h1 {
  left: 20px;
  bottom: 20px;
  margin-bottom: 10px;
  margin-top: 5px;
  font-size: 22px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

#inicio h12 {
  display: block;
  font-family: "DM Sans", serif;
  font-size: 1.8em;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.418);
}

#inicio h0,
#inicio h12 {
  margin-left: 40px;
}

#inicio .logo {
  width: 100%;
  text-align: center;
  margin-top: 60px;
}

#inicio img {
  max-width: 10vw;
  min-width: 180px;
  display: block;
  margin: 30px 40px 0;
  position: relative;
}

#inicio span {
  display: block;
  background-color: var(--cor2);

  margin-left: 42px;

  width: 470px;
  max-width: 95vw;
  height: 2px;
}

.logo-texto {
  display: flex;
  align-items: center;

  margin-top: 320px;
  padding: 8px 0px;
  border-radius: 20px;
  gap: 5px; /* Ajusta o espaçamento entre os textos */
}

.conveniencia {
  font-family: var(--fonte-header);
  font-size: 26px;
  font-weight: 300;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;

  margin-bottom: 0px;
}

.lima {
  font-family: var(--fonte-header);
  font-size: 1.96em;
  font-weight: bold;
  color: white;
  text-transform: uppercase;

  margin-top: 16px;
  margin-bottom: 0px;
}

@media screen and (max-width: 1430px) {
  #inicio {
    padding: 15px 2%;
  }

  #inicio h0 {
    font-size: 6em;
  }

  #inicio h1.lima {
    font-size: 2.1em;
  }

  .logo-texto {
    margin-top: 400px;
  }
}

@media screen and (max-width: 810px) {
  #inicio h0 {
    display: block;
    padding-top: 150px;
    font-size: 5.2em;
    font-family: var(--fonte-cursiva);
    color: var(--cor2);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  }

  #inicio h1 {
    font-size: 25px;
    padding-left: 8px;
    text-align: left;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.438);
  }

  #inicio .logo {
    position: relative;
    bottom: 10px;
    left: 10px;
    width: 80px; /* Ajuste o tamanho */
  }

  #inicio img {
    max-width: 80px;
  }

  .conteudo {
    max-width: calc(100vw - 2%);
    padding-right: 2%;
  }

  .conteudo > h1 {
    padding-left: 15px;
    text-align: left;
  }

  .logo-texto {
    margin-top: 450px;
    padding-left: 8px;
    padding-bottom: 0px;
  }

  .lima {
    padding-left: 0px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.425);
    margin-bottom: 0;
    margin-top: 14.9px;
  }

  .conveniencia {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.466);
  }
}

@media screen and (max-width: 600px) {
  #inicio {
    text-align: center;
    background-image: url("midia/fundo/header2-600x1000.webp");
  }

  #inicio h0,
  #inicio h12 {
    margin: 0 auto;
  }

  #inicio span {
    margin: 0 auto;
  }
}

/*---------------------------------coloquei sobre, mas manquei no link-------------------------------*/

#sobre {
  padding: 50px;
  text-align: left;
}

.sobre-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.sobre-imagem img {
  max-width: 500px;
  height: auto;
  margin-right: 100px;
}

.sobre-texto h2 {
  font-family: var(--fonte-cursiva);
  font-size: 60px;
  font-weight: bold;
  color: var(--cor2);
  margin-bottom: 20px;
  margin-top: 20px;
}

.sobre-texto p {
  font-size: 18px;
  color: var(--cor5);
  line-height: 1.5;
  text-indent: 1em;
}

@media (max-width: 1080px) {
  .sobre-container {
    flex-direction: column;
    text-align: center;
  }

  .sobre-imagem img {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .sobre-texto {
    max-width: 100%;
  }

  .sobre-texto h2 {
    font-size: 80px;
  }

  .sobre-texto p {
    font-size: 20px;
  }
}

/*-------------------------------------Nossos produtos-------------------------------*/
#produtos {
  background-color: var(--cor2);
  padding-bottom: 10%;
}

#produtos h2 {
  font-family: var(--fonte-cursiva);
  font-size: 60px;
  /*font-weight: bold;*/
  color: var(--cor0);
  margin-bottom: 10px;
  /*text-align: center;*/
  justify-content: left;
}

.produtos-nossos {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 70px 20px;
  height: auto;
  margin-bottom: -400px;
  gap: 50px;
}

.produtos-apreciados,
.produtos-combos {
  min-width: calc(50%-20px);
}

.produtos-apreciados h3,
.produtos-combos h3 {
  font-family: var(--fonte-cursiva);
  color: var(--cor0);
  margin-right: 60px;
  font-size: xx-large;
  align-items: center;
}
.p1 {
  font-family: "DM Sans";
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: auto; /*60px*/
  margin-left: auto;
}

@media screen and (max-width: 1450px) {
  .produtos-nossos {
    margin-bottom: -100px;
  }
}

@media screen and (max-width: 912px) {
  #produtos img {
    display: none;
  }

  .produtos-combos {
    margin-bottom: 80px;
  }
}

/*-----------------------------sessão sobre nós----------------------------------------------*/
#about {
  background-color: #000;
  min-height: 400px;
  display: grid;
  grid-template-columns: 2fr 1fr; /* Texto ocupa 2 frações, imagem grande 1 fração */
  gap: 20px;
  padding: 20px;
  align-items: center;
}

/* Texto principal */
.nos-text {
  color: white;
  background-color: #282828;
  padding: 20px;
  text-align: justify;
}

.nos-text h1 {
  font-family: "Aloja", sans-serif;
}

.nos-text p {
  font-family: "DM Sans";
  text-indent: 30px;
}

/* Imagem grande */
.nos-imgX {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nos-imgX img {
  max-width: 100%;
  height: auto;
}

/* Container para imagens menores */
.nos1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 colunas iguais */
  gap: 20px; /* Agora o espaçamento funciona */
}

.logo,
.bebidas {
  width: 100%;
  height: auto;
  object-fit: contain;
}

/*---------------------------Localização-------------------------------------*/

#Localizacao {
  background-color: #000;
  min-height: 700px;
}

#Localizacao h1 {
  color: var(--cor2);
  font-size: 50px;
  font-family: var(--fonte-cursiva);
  margin-bottom: 0;
}

#Localizacao h2 {
  color: var(--cor5);
  font-size: 20px;
  font-weight: lighter;
  font-family: var(--fonte-header);
  margin-top: 0;
}

#Localizacao address {
  display: block;
}

#Localizacao iframe {
  width: 100%;
  max-width: 1000px;
  height: 400px;
  border: none;
  filter: grayscale(50%) opacity(80%);
}

/*---------------------------Portfólio------------------------------------------*/
#portifolio {
  background-color: #000;
  /*background-color: white;*/
}

.Portfolio h3 {
  text-align: center;
  font-size: 40px;
  font-family: var(--fonte-cursiva);
  color: var(--cor0);
  margin-bottom: 20px;
}

.Portfolio {
  display: flex;
  background-color: var(--cor2);
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.port-conteudo {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  max-width: 800px;
}

.port-esquerda,
.port-direita {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.port-esquerda img,
.port-direita img {
  width: 90%;
  max-width: 400px;
  height: auto;
}
/*--------------------SESSÃO CONTATO-----------------------------*/

/*-------------------FOOTER-------------------------------------*/
/* Estilo do Rodapé */
footer {
  background-color: var(--cor0);
  color: var(--cor4);
}

.rodape {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.rodape-logo img {
  max-width: 150px;
}

.rodape-info {
  margin: 5px auto;
}

.rodape-info p {
  margin: 5px 0;
  font-size: 16px;
}

.rodape-social {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.rodape-social img {
  width: 20px;
  height: auto;
}
